<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusicBean1"
          class="ru.kotDementyev.springcourse.ClassicalMusic"
          scope="prototype"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>

    <!--<bean id="classicalMusicBean2"-->
    <!--class="ru.kotDementyev.springcourse.ClassicalMusic"-->
    <!--init-method="doMyInit"-->
    <!--destroy-method="doMyDestroy">-->
    <!--</bean>-->

    <!--<bean id="classicalMusicBean3"-->
    <!--class="ru.kotDementyev.springcourse.ClassicalMusic"-->
    <!--init-method="doMyInit"-->
    <!--destroy-method="doMyDestroy">-->
    <!--</bean>-->

    <!--<bean id="jazzMusicBean"-->
    <!--class="ru.kotDementyev.springcourse.JazzMusic">-->
    <!--</bean>-->

    <!--<bean id="rockMusicBean"-->
    <!--class="ru.kotDementyev.springcourse.RockMusic">-->
    <!--</bean>-->

    <!--&lt;!&ndash;<bean id="musicPlayer"&ndash;&gt;-->
    <!--&lt;!&ndash;class="ru.kotDementyev.springcourse.MusicPlayer">&ndash;&gt;-->
    <!--&lt;!&ndash;<constructor-arg ref="musicBean"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->

    <!--<bean id="musicPlayer"-->
    <!--class="ru.kotDementyev.springcourse.MusicPlayer"-->
    <!--scope="prototype">-->
    <!--<property name="musicList">-->
    <!--<util:list>-->
    <!--<ref bean="classicalMusicBean"/>-->
    <!--<ref bean="jazzMusicBean"/>-->
    <!--<ref bean="rockMusicBean"/>-->
    <!--</util:list>-->
    <!--</property>-->

    <!--&lt;!&ndash;<property name="name" value="Some name"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<property name="volume" value="50"/> &ndash;&gt;-->

    <!--<property name="name" value="${musicPlyer.name}"/>-->
    <!--<property name="volume" value="${musicPlyer.volume}"/>-->

    <!--</bean>-->
</beans>